@import "tailwindcss";
.heroimage{
    background-image: url('./assets/Add\ a\ little\ bit\ of\ body\ text\ \(3\).png');
    background-size: cover;
    background-position: center;
}
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} */